<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>addon</title>
	<script src="http://libs.baidu.com/jquery/1.9.0/jquery.js" type="text/javascript"></script>
</head>
<body>
	<div>
		<button>click me!</button>		
		<p id='p1'>...</p>
		<p id='p2' >...</p>
		<p id='p3'>...</p>
		<p id='p4'>...</p>
	</div>
 
	<script type="text/javascript">
	const hostname = '127.0.0.1';
	const port = 1337;
	$(function(){
		$("button").bind("click",function(){
			var url = "http://" + hostname + ":" + port;
			$.ajax({
				url:url,
				dataType:"jsonp",
				jsonp:"callback",
				jsonpCallback:"success_jsonpCallback"
			}).done(function(data) {
                // $("p").html(data.toString);
                console.log(data.jsonObj)
                $("#p1").html(data.jsonObj[0].name);
                $("#p2").html(data.jsonObj[1].name);
                $("#p3").html(data.jsonObj[2].name);
			});
		});
	});
	</script>
</body>
</html>
